a{
    color: white;
    text-decoration: none;
    span{
        color: white;
    }
}

.Favorites{
    h1{
        text-align: center;
        color: #3f51b5;
    }
}

button{
    background: none;
    border: none;
    cursor: pointer;
    
}
input{
    height: 20px;
    margin-bottom: 20px;
}

.heart {
    text-align: right;
    align-self: baseline;
    justify-self: baseline;
    color: gold;
}
.search{
margin-bottom: -5px;
}
.weather-title{
    margin-bottom: 10px;
    color: #3f51b5;
}
.weather-panal{
    padding: 50px;
    width: 80%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 100px;
        background: #00000003;

    header{
        display: flex;
        justify-content: space-between;
    }
    h1{
        text-align: center;
        margin-bottom: 40px;
        margin-top: -50px;
    }
}

.arrow-link{
    color: black;
}

.fav-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.MuiBottomNavigationAction-wrapper{
color: white;
}


.modal-panal{
    background-color: lightgrey;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 20px;
    p{
        font-size: 1.5em;
         color:black;
    }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
 .weather-panal {
     padding: 50px;
     width: 80%;
     margin: 0;
     margin-top: 10px;
     margin-bottom: 100px;
     background: #00000003;

     header {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
     }

     h1 {
         text-align: center;
         margin-bottom: 40px;
         margin-top: 50px;
     }
 }
}